nav {
	text-align: center;
}

nav ul li {
	display: inline-block;
	font-size: 36px;
	text-decoration: none;
	margin-right: 5%; 
}

a:link, a:visited {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: purple;
	font-weight: bold;
}