nav {
	text-align: center;
}

nav ul li {
	display: inline-block;
	font-size: 36px;
	text-decoration: none;
	margin-right: 5%; 
}

a:link, a:visited {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: purple;
	font-weight: bold;
}

#users_table {
	font-size: 32px;
	border-collapse: collapse;
	border: 1px solid black;
	margin: 0 auto;
}

th {
	background-color: #DFDCDC;
	border: 1px solid black;
	padding: 0 100px 0 100px;
}

td {
	text-align: center;
	border: 1px solid black;
	padding: 0 100px 0 100px;
}

#form_id {
	display: inline-block;
}

main {
	padding-top: 50px;
	text-align: center;
}